body {
    background-color: #f8fafc;
    margin: 0;
   
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
hr {
    height: 0;
    border: none;
    border-top:1px solid #dedede;
    margin: 20px 0;
}
ul,ol {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

[data-x].active{
    outline: 10px solid #559aa4;
}

[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition: all 0.5s;
}

@keyframes slideUp{
    0%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
.topNavBar {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1s;
    color: #b7b7b7;
}

.topNavBar.sticky{
    background: white;
    padding: 10px 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    color: inherit;
}
.topNavBar-inner {
   padding: 0 16px; 
}


.topNavBar .logo {
    font-family: 'Arial Black';
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs {
    color: #30c2c9;
    margin-right: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.topNavBar .logo .card {
    color: #9a9da2;
}
.topNavBar  nav {
    padding-top: 5px;
    float: right;
}
.topNavBar  nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.topNavBar  nav > ul > li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}
.topNavBar  nav > ul > li > a {
    color: inherit;
    font-size: 12px;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    position: relative;
}
/*.topNavBar nav > ul > li > a:hover::after{  */
/*.topNavBar nav > ul > li.active > a::after{  */
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highlight > a::after{
    content:'';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background: #30c2c9;
    width: 100%;
    height: 3px;
    animation: menuSlide .3s;
}
@keyframes menuSlide{
    /*0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }*/
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
/*.topNavBar  nav > ul > li > a:hover {
    border-bottom: 3px solid #e06567;
} */

.topNavBar .submenu{
    display: none;
    position: absolute;
    /*left: 0;*/
    right: 0;
    top: 100%;
    background: white;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
/*.topNavBar .submenu.active{
    display: block;
}*/
.topNavBar li.active > .submenu{
    display: block;
    animation: submenuSlide .3s;
}
@keyframes submenuSlide{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0%;
    }
}

.topNavBar .submenu > li{
    white-space: nowrap;   /*二级菜单每一项不换行*/
    padding: 5px 10px;
}

.topNavBar-inner > a {
    float: left;
}
.topNavBar-inner > nav {
    float: right;
}
.banner {
    height: 515px;
    background-image:url(../Resume/wall9.jpg);/*本css文件的父容器和该图片的父容器是同级关系，故要用..*/
    background-position: center center;
    background-size: cover;
}
.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.7);
}
.userCard {
    background-color: #fff;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    color: #222;   
}
.userCard h1 {
    font-family: cursive;
    font-size: 38px;
}
.userCard .welcome {
    background-color: #adcfd3;
    color: #fff;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    margin-bottom: 10px;
    position: relative;
    
}
.userCard .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width:0px;
    border-top-width: 0;
    border-left-color: #adcfd3; 
    position: absolute;
    left: 4px;
    top: 100%;   
}
.userCard .picture {
    float: left;
}
.userCard .text {
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .text h1 {
    margin-top: 18px;
}
.userCard .pictureAndText {
    padding: 50px;
    
}
.userCard .text dl dd,
.userCard .text dl dt {
    float: left;
    line-height: 2em;    /*不加行高则表格两栏会错位！*/
    padding: 5px 0;
}
.userCard dl dt {
    width: 30%;
    font-weight: bold;
}
.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}
.userCard > footer.media {
    background: #30c2c9;
    text-align: center;
}
.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
.userCard > footer.media > a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.userCard > footer.media > a:hover {
    background: #559aa4;
}
body > main {
    margin-top: -340px;
}
body > main .downloadResume {
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
    font-size: 14px;
    display: inline-block;
    border-radius: 2px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
}
body > main .downloadResume-wrapper {
    text-align: center;
}
body > main .downloadResume:hover {
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s;
}
main .selfIntroduction {
    color: #222;
    font-size: 18px;
    line-height: 1.8;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Microsoft YaHei;
}
.selfIntroduction > span {
    font-family: KaiTi;
    color: black;
}
section.skills {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
section.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
section#others > h2,
section.skills > h2,
section#message > h2,
section.portfolio > h2 {
    text-align:center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills > ol {
    background-color: white;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
}
section.skills .progressBar {
    height: 5px;
    background: #d1deec;
    border-radius: 2px;
    margin: 4px 0 40px;
    overflow: hidden;
}
section.skills .progressBar > .progress {
    height: 100%;
    background: #30c2c9;
    border-radius: 2px;
    width: 70%;
    transform: translateX(0);
    transition: all 1s;
}

section.skills.offset .progress{
    transform: translateX(-100%);
}

section.skills > ol > li {
    float: left;
    width:48%;
    box-sizing: border-box;
    padding-right: 40px;
}
section.skills > ol > li:nth-child(even) {
    float: right;
}
section.portfolio {
    text-align: center;
    margin-bottom: 100px;
}
section.portfolio .swiper-container{
    width: 668px;
    height: 501px;
}
section.portfolio h2{
    margin-bottom: 32px;
}


.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

 .loading{
    width: 200px;
    height: 200px;
    position: relative;
 }
 .loading::before,.loading::after{
    content:'';
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: s 1.5s linear infinite;
 }
 .loading::after{
    animation-delay: 0.75s;
 }

 @keyframes s{
    0%{
    width: 0px;height: 0px;opacity: 1;
     }
    100%{
    width: 100px;height: 100px;opacity: 0;
     }
 }

.site-welcome{
    display: none;
    
 }
 .site-welcome.active{
    display: flex;
    position: fixed;
    top: 0;left: 0;width: 100%;height: 100%;
    background: #ccc;
    z-index: 1;
    justify-content: center;
    align-items: center;
 }

 section #postMessageForm{
     width: 700px;
     margin: 50px auto;
 }
 section#message ol{
     width: 700px;
     margin: 35px auto;
     border: 1px solid #ebebeb;
     border-radius: 8px;
     padding: 10px 10px;
     background-color: #e1f9ff;
 }
 section#message ol li{
     padding: 16px;
     border-bottom: 1px dotted #adcfd3;
 }
 section#message .labOne{
     padding-left: 100px;
 }

 section#others{
     width: 100%;
     height: 100px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 90px;
 }